@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

@import "variables", "nav", "button", "main", "media_query";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    width: 75%;
    max-width: 100%;
    margin-left: 12%;
    height: 100vh;

}


